td, div, body {
  font-family: "Museo Sans", "Lucida Grande", Arial, sans-serif;
  line-height: 21px;
  font-size: 10;
  text-rendering: optimizelegibility;  
  -webkit-user-select: none;
}

body {
  margin: 0px; 
  background: #555
}

.panel{
  width: 205;
  height: 60;  
}
.center{
  text-align: center;
}
.absolute{
	position: absolute;
}
.border{
	border: 1px solid #CCC;	
}

img#infoBtn, img#infoBtnBg{
	position: absolute;
	right: 8px; 
	bottom: 6px;
};